<div layout="column" style="height:600px" ng-cloak>

  <md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <h3>
        <span>{{$ctrl.title}}</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content flex layout-margin>

    <form ng-submit="$ctrl.searchDB()" name="searchForm">
      <div layout-gt-sm="row">
        <md-input-container flex-offset="35" flex="25">
          <label>Search</label>
          <input type="text" ng-model="$ctrl.searchTerm"/>
        </md-input-container>
      </div>
    </form>

    <md-list>

      <md-list-item ng-repeat="movie in $ctrl.movies">
        <movie movie="movie"></movie>
      </md-list-item>

    </md-list>

  </md-content>

</div>
